
*.lock
.vs/ProjectCRYPT/v15/Server/sqlite3/storage.ide
/ProjectCRYPT/bin
/ProjectCRYPT/obj
.vs/ProjectCRYPT/v15/Server/sqlite3/storage.ide-shm
.vs/ProjectCRYPT/v15/Server/sqlite3/storage.ide-wal
.vs/ProjectCRYPT/v15/.suo
.vs/ProjectCRYPT/v15/.suo
.vs/ProjectCRYPT/v15/.suo
bin/
obj/
.vs/
*.mgcontent
*.mgcontent
*.mgcontent
.vs/ProjectCRYPT/v15/.suo
.vs/ProjectCRYPT/v15/.suo
*.mgcontent
.vs/ProjectCRYPT/v15/.suo
*.mgcontent
.vs/ProjectCRYPT/v15/.suo
*.mgcontent
.vs/ProjectCRYPT/v15/.suo
*.mgcontent
.vs/ProjectCRYPT/v15/.suo
